
.formDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.formDiv label {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.formDiv input {
    background-color: aliceblue;
    padding: 10px;
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

.search-btn {
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #007c91, #00acc1);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.search-btn:hover {
    transform: scale(1.05);
    background:linear-gradient(45deg, #00acc1, #007c91);
}