.items-section h2 {
  color: #fff;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* Yatay kaydırma kapsayıcı */
.scroll-container {
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 15px;
  gap: 15px;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  height: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #00aaff;
  border-radius: 4px;
}

/* Card-item zaten hazır, sadece hover detay göster */
.card-item {
  width: 10%; /* poster boyutu */
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Hover ile detay overlay */
.card-item .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  color: #fff;  
  transition: max-height 0.3s ease;
  height: 500px;
  opacity: 1;
  opacity: 0;
  padding: 10px;
}

.card-details{
  position:absolute;
  bottom: 0px;
}
.card-details span{
  color: #00aaff;
}
.card-title h1{
  color: #00aaff;
}
.card-item:hover .card-content{
  transition: opacity 0.5s ease;
  opacity: 1;
}


/* Başlık ve dil gibi küçük bilgiler kart üzerinde */

.add-watchlist-btn{
  z-index: 100;
  position: absolute;
  height: 50px;
  width: 50px;
  right: 10px;
  top: 10px;
  border-radius: 30%;
  border-color: #00aaff;
  background-color: black;
  opacity:0.7;
  cursor: pointer;
}
.add-watchlist-btn:hover{
  opacity: 1;
}

.add-movie-icon{
  color: white;
}

.trailer-player{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.4s ease;
  border-radius: 8px;
}