.items-section h2 {
  color: #fff;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* Yatay kaydırma kapsayıcı */
.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 15px;
  padding: 20px 20px;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  height: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #00aaff;
  border-radius: 4px;
}

/* Card-item zaten hazır, sadece hover detay göster */
.card-item {
  width: 200px; /* poster boyutu */
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

/* Hover ile detay overlay */
.card-item .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  color: #fff;
  padding: 10px;
  transition: max-height 0.3s ease;
  opacity: 1;
}
.card-content h1{
  margin-bottom: 150px;
  color: #00aaff;
}

.card-content span{
  color: #00aaff;
}

.card-item:hover .card-content {
  max-height: 500px; /* hover ile detay açılır */
}

/* Başlık ve dil gibi küçük bilgiler kart üzerinde */
.card-item .card-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #00ffd0;
  font-weight: bold;
}


.add-watchlist-btn{
  z-index: 100;
  position: absolute;
  height: 50px;
  width: 50px;
  right: 10px;
  top: 10px;
  border-radius: 30%;
  border-color: #00aaff;
  background-color: black;
  opacity:0.7;
  cursor: pointer;
}
.add-watchlist-btn:hover{
  opacity: 1;
}

.add-movie-icon{
  color: white;
}

.trailer-player{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.4s ease;
}